<%= form_with(model: books_upload, class: "contents", local: true) do |form| %>
  <% if books_upload.errors.any? %>
   <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(books_upload.errors.count, "error") %> prohibited this books_upload from being saved:</h2>

      <ul>
        <% books_upload.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="my-5">
    <%= form.label :attachment_data %>
     <%= form.hidden_field :attachment, value: books_upload.cached_attachment_data, class: "upload-data" %>
     <%= form.file_field :attachment, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full upload-file", id: "my-file-input" %>
  </div>
    <div class="for-DragDrop uppy-u-reset
      uppy-DragDrop-container
      uppy-DragDrop--isDragDropSupported">
    </div>
    <div class="my-5">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>